:root {
  --header-color: #212121;
  --main-active-color: #2196f3;
  --main-contrast-color: #ffffff;
  --text-color: #757575;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --dark-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --border-color: #ececec;
  --border-color-card: #eeeeee;
  --team-list-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
  --button-hero-shadow: rgba(0, 0, 0, 0.15);
  --button-portfolio-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-cards-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --product-card-overlay: rgba(33, 150, 243, 0.9);
  --border-modal-color: rgba(0, 0, 0, 0.1);
  --background-modal-color: rgba(0, 0, 0, 0.2);
  --border-modal-input-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --job-list-color: rgba(47, 48, 58, 0.8);
  --social-network-bgc: rgba(255, 255, 255, 0.1);
  --user-mail-input-border: rgba(255, 255, 255, 0.3);
  --mobile-net-item-border:#21212133;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--main-contrast-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul,
li {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  color: var(--header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--main-active-color);
  font-family: raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  display: block;
  margin-bottom: 20px;
}

.logo--header {
  display: block;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 28px;
    line-height: 1.19;
  }
}

.logo__dark {
  color: var(--header-color);
}

.logo__light {
  color: var(--main-contrast-color);
}

.button {
  color: var(--main-contrast-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--main-active-color);
  display: inline-block;
  min-width: 200px;
  max-height: 50px;
  box-shadow: 0px 4px 4px var(--button-hero-shadow);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero__btn {
  padding: 10px 32px;
}

.user-email-wrapper__btn {
  padding: 5px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contacts {
    display: none;
  }
  .burger-btn {
    background-color: transparent;
    border: none;
    line-height: 0;
  }
  .burger-btn:hover, .burger-btn:focus {
    fill: var(--main-active-color);
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: var(--main-contrast-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    z-index: 1;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--main-active-color);
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-nav__link:hover, .mobile-nav__link:focus {
    color: var(--main-active-color);
  }
  .mobile-nav__link--current {
    color: var(--main-active-color);
  }
  .mobile-contacts-net-container {
    display: flex;
    flex-direction: column;
  }
  .mobile-contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
    margin-bottom: 64px;
  }
  .mobile-contacts__link:hover, .mobile-contacts__link:focus {
    color: var(--main-active-color);
  }
  .mobile-contacts__link--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-active-color);
    display: block;
    margin-bottom: 32px;
  }
  .mobile-net {
    display: flex;
  }
  .mobile-net__item {
    border-right: 1px solid var(--mobile-net-item-border);
    padding-right: 10px;
    padding-left: 10px;
  }
  .mobile-net__item:last-child {
    padding-right: 0;
    border-right: none;
  }
  .mobile-net__item:first-child {
    padding-left: 0;
  }
  .mobile-net__link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--main-active-color);
  }
}

.header {
  background-color: var(--main-contrast-color);
  border-bottom: 1px solid var(--border-color);
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: block;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 88px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--main-active-color);
  }
  .site-nav__link--current {
    color: var(--main-active-color);
    position: relative;
  }
  .site-nav__link--current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--main-active-color);
  }
  .site-nav__link--current:hover::after {
    width: 100%;
  }
  .contacts {
    display: block;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67px;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--main-active-color);
  }
  .contacts__link--envelope {
    display: block;
    padding-top: 20px;
  }
  .contacts__link--smartphone {
    display: block;
    padding-bottom: 20px;
  }
  .contacts__link--envelope,
  .contacts__link--smartphone {
    display: flex;
    align-items: center;
  }
  .contacts__icon--envelope {
    margin-right: 8px;
    fill: currentColor;
    transition: color 250ms var(--timing-function);
  }
  .contacts__icon--envelope:hover, .contacts__icon--envelope:focus {
    color: var(--main-active-color);
  }
  .contacts__icon--smartphone {
    margin-right: 8px;
    fill: currentColor;
    transition: background-color 250ms var(--timing-function);
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    color: var(--header-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: background-color 250ms var(--timing-function);
  }
  .contacts {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    align-items: center;
  }
  .contacts__item:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contacts__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--header-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: background-color 250ms var(--timing-function);
    color: var(--text-color);
  }
  .header__nav,
  .header__container,
  .contacts__link--envelope,
  .contacts__link--smartphone {
    display: flex;
    align-items: center;
  }
  .contacts__icon--envelope {
    margin-right: 10px;
  }
  .contacts__icon--smartphone {
    margin-right: 10px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-contrast-color);
}

.overlay {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-mob.jpg");
  background-color: var(--dark-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-mob2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .overlay {
    width: 100%;
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-mob.jpg");
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-tab2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    width: 100%;
    max-width: 1200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-mob.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-tab2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
  .overlay {
    width: 100%;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-mob.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-2x.jpg");
  }
}

.benefits__wrapper {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 480px) {
  .benefits__wrapper {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
  .benefits__wrapper {
    width: 354px;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 0;
  }
  .benefits {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .benefits__item {
    flex-basis: calc(100%/2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    flex-wrap: nowrap;
    margin: 0;
  }
  .benefits__item {
    margin: 0;
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
  .benefits__title {
    text-align: left;
  }
  .benefits__wrapper {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .job-section {
    display: none;
  }
}

.job-section {
  padding-top: 0;
}

.job-title {
  margin-bottom: 50px;
}

.job {
  display: flex;
}

.job__item:not(:last-child) {
  margin-right: 30px;
}

.job__image {
  display: block;
}

.job__container {
  position: relative;
}

.job__overlay {
  position: absolute;
  width: 370px;
  bottom: 0;
  left: 0;
}

.job__text {
  color: var(--main-contrast-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--job-list-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team-section {
  background-color: var(--team-background-color);
}

.team-title {
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}

.team__photo {
  width: 100%;
}

.team__item {
  box-shadow: var(--team-list-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__container {
  background-color: var(--main-contrast-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  color: var(--header-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-link {
  display: block;
  display: flex;
  justify-content: center;
}

.team-link__item:not(:last-child) {
  margin-right: 10px;
}

.team-link__link {
  color: var(--icon-color);
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: block;
  display: flex;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.team-link__link:hover, .team-link__link:focus {
  color: var(--main-contrast-color);
  background-color: var(--main-active-color);
}

.team-link__icon {
  fill: currentColor;
  margin: auto auto;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team__item {
    flex-basis: calc(100%/2-30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .team {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
  }
  .team__item {
    margin-left: 0;
    margin-right: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-section {
  background-color: var(--main-contrast-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
}

.clients-title {
  margin-bottom: 30px;
}

.clients__item {
  flex-basis: calc(100%/2-30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  display: flex;
}

.clients__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  color: var(--icon-color);
  background-color: var(--main-contrast-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--main-active-color);
  color: var(--main-active-color);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100%/3 - 30px);
  }
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
  }
  .clients {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;
  }
  .clients__item {
    margin-left: 0;
    margin-top: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
  .clients__link {
    width: 170px;
  }
  .clients__icon {
    width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.address {
  margin-bottom: 9px;
}

.address-container {
  margin-bottom: 60px;
}

.address__link {
  color: var(--main-contrast-color);
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms var(--timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--main-active-color);
}

.address-contacts__link {
  color: var(--footer-mail-tel-color);
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms var(--timing-function);
}

.address-contacts__link:hover, .address-contacts__link:focus {
  color: var(--main-active-color);
}

.address-contacts__link--first {
  display: inline-block;
  margin-bottom: 9px;
}

.social-net-container {
  display: block;
  margin-bottom: 60px;
}

.social-net-container__slogan,
.subscribe-container__slogan {
  color: var(--main-contrast-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.social-net {
  display: block;
  display: flex;
  margin-top: 20px;
}

.social-net__item:not(:last-child) {
  margin-right: 10px;
}

.social-net__link {
  background-color: var(--social-network-bgc);
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: block;
  display: flex;
  transition: background-color 250ms var(--timing-function);
}

.social-net__link:hover, .social-net__link:focus {
  background-color: var(--main-active-color);
}

.social-net__icon {
  fill: var(--main-contrast-color);
  margin: auto auto;
}

.subscribe-container {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe-wrapper {
  margin-top: 20px;
  width: 100%;
}

.user-email-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-email-wrapper__icon {
  fill: var(--main-contrast-color);
  margin-left: 10px;
  height: 24px;
  width: 24px;
}

.user-email-wrapper__input {
  width: 100%;
  height: 50px;
  border: 1px solid var(--user-mail-input-border);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-mail-tel-color);
  background-color: #2F303A;
  padding-left: 16px;
  margin-bottom: 20px;
}

.user-email-wrapper__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-mail-tel-color);
}

.user-email-wrapper__btn {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .user-email-wrapper__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container-tablet {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
  }
  .address-container {
    margin-right: 165px;
    margin-bottom: 0;
  }
  .social-net-container {
    margin-bottom: 0;
  }
  .subscribe-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }
  .container-tablet {
    margin-bottom: 0;
  }
  .address-container {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .social-net-container {
    margin-top: 12px;
    margin-bottom: 0;
  }
  .social-net-container__slogan,
  .subscribe-container__slogan {
    text-align: left;
  }
  .subscribe-container {
    margin-left: 93px;
    margin-top: 12px;
  }
  .subscribe-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .user-email-wrapper {
    display: flex;
    flex-direction: row;
  }
  .user-email-wrapper__input {
    margin-right: 12px;
    width: 358px;
  }
}

.container-port {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.buttons-port {
  display: block;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
}

.buttons-port__item:not(:last-child) {
  margin-right: 8px;
}

.buttons-port__item:nth-child(-n+3) {
  margin-bottom: 15px;
}

.buttons-port__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: var(--team-background-color);
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.buttons-port__btn:hover, .buttons-port__btn:focus {
  color: var(--main-contrast-color);
  background-color: var(--main-active-color);
  box-shadow: var(--button-portfolio-shadow);
}

@media screen and (min-width: 768px) {
  .buttons-port {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.card-set__content {
  padding: 20px 20px;
  border-bottom: 1px solid var(--border-color-card);
  border-left: 1px solid var(--border-color-card);
  border-right: 1px solid var(--border-color-card);
}

.card-set__header {
  color: var(--header-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-set__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.overlay-p {
  position: relative;
  overflow: hidden;
}

.overlay-p__container {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
  width: 100%;
  height: 100%;
  background-color: var(--product-card-overlay);
}

.tehnocrak:hover .overlay-p__container {
  transform: translateY(0%);
}

.card-set__link:focus .overlay-p__container {
  transform: translateY(0%);
}

.overlay-p__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
}

.overlay-p__text {
  color: var(--main-contrast-color);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  .portfolio-list__item:hover {
    box-shadow: var(--portfolio-cards-shadow);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  width: 100%;
  height: 100%;
  background-color: var(--background-modal-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  width: 450px;
  height: 609px;
  background-color: var(--main-contrast-color);
  padding: 40px;
}

.backdrop__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 12px;
}

.form__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form__input {
  padding: 0 0 0 42px;
  margin: 0;
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-modal-input-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form__input:focus {
  outline: none;
  border-color: var(--main-active-color);
}

.form__icon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 12px;
  transition: fill 250ms var(--timing-function);
}

.form__input:focus + .form__icon {
  fill: var(--main-active-color);
}

.form__wrapper {
  position: relative;
}

.form__comments {
  resize: none;
  width: 370px;
  height: 120px;
  border: 1px solid var(--border-modal-input-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms var(--timing-function);
}

.form__comments::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form__comments:focus {
  outline: none;
  border-color: var(--main-active-color);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__lable {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.checkbox__lable::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--header-color);
  cursor: pointer;
  margin-right: 8px;
}

.checkbox__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  color: var(--main-active-color);
  text-decoration: underline;
}

.button-modal {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  display: flex;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--main-contrast-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-modal-color);
  cursor: pointer;
}

.button-modal__icon {
  margin: auto auto;
  transition: fill 250ms var(--timing-function);
}

.button-modal__icon:hover {
  fill: var(--main-active-color);
}

.button-modal:focus .button-modal__icon {
  fill: var(--main-active-color);
}

@media screen and (min-width: 768px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
  }
  .checkbox__lable::before {
    margin-left: 12px;
  }
  .form__comments {
    width: 448px;
  }
  .checkbox__lable, .checkbox__link {
    font-size: 14px;
    line-height: 1.71px;
  }
}
/*# sourceMappingURL=main.css.map */