.benefits {
    display: flex;
}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__title {
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.7;
}

.benefits__wrapper {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.benefits__icon {
    margin: auto auto;
}