@media screen and (max-width: 1199px){
    .job-section{
        display: none;
    }
}

.job-section {
    padding-top: 0;
}

.job-title {
    margin-bottom: 50px;
}

.job {
    display: flex;
}

.job__item:not(:last-child) {
    margin-right: 30px;
}

.job__image {
    display: block;
}

.job__container {
    position: relative;
}

.job__overlay {
    display: flex;
    justify-content: center;
    align-items: center;


    position: absolute;
    width: 370px;
    height: 70px;
    background-color: var(--job-list-color);
    bottom: 0;
    left: 0;
}

.job__text {
    color: var(--main-contrast-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}