.card-set__content {
    padding: 20px 20px;
    border-bottom: 1px solid var(--border-color-card);
    border-left: 1px solid var(--border-color-card);
    border-right: 1px solid var(--border-color-card);
}

.card-set__header {
    color: var(--header-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.card-set__text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-list__item:not(:last-child){
    margin-bottom: 30px;
}

.portfolio-list__item{
    transition: box-shadow 250ms var(--timing-function);

    &:hover{
        box-shadow: var(--portfolio-cards-shadow);
    }
    .card-set__link:focus & {
        box-shadow: var(--portfolio-cards-shadow);
    }
}

.overlay-p {
    position: relative;
    overflow: hidden;
    // overflow: scroll;

}

.overlay-p__container {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateY(101%);
    transition: transform 250ms var(--timing-function);

    width: 100%;
    height: 100%;
    background-color: var(--product-card-overlay);

    .tehnocrak:hover & {
        transform: translateY(0%);
    }

    .card-set__link:focus & {
        transform: translateY(0%);
    }
}

.overlay-p__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
}

.overlay-p__text {
    color: var(--main-contrast-color);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 767.99px) and (max-width: 1199.99px){
    .card-set__content--grow{
        padding-bottom: 56px;
    }
}

// Планшетна версія

@media screen and (min-width: 767.99px){
.portfolio-list{
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
}
.portfolio-list__item:not(:last-child) {
    margin-bottom: 0;
}

.portfolio-list__item {
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc(100% / 2 - 30px);

    }

}

// Десктопна версія

@media screen and (min-width: 1199.99px){
    
.portfolio-list__item{
    flex-basis: calc(100% / 3 - 30px);
}

}



