.portfolio-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    margin-left: -30px;
    margin-top: -30px;
}

.portfolio-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);

    &:hover {
        box-shadow: var(--portfolio-cards-shadow);
    }
}

.card-set__content {
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-color-card);
    border-left: 1px solid var(--border-color-card);
    border-right: 1px solid var(--border-color-card);
}

.card-set__header {
    color: var(--header-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
}

.card-set__text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
}

.card-set__img {
    display: block;
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay__container {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);

    width: 100%;
    height: 100%;
    background-color: var(--product-card-overlay);

    .tehnocrak:hover & {
        transform: translateY(0%);
    }
    
    .card-set__link:focus & {
        transform: translateY(0%);
    }
}

.overlay__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
}

.overlay__text {
    color: var(--main-contrast-color);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}