.logo {
    color: var(--main-active-color);
    font-family: raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}

.logo__dark {
    color: var(--header-color);
}

.logo__light {
    color: var(--main-contrast-color);
}