:root {
    --header-color: #212121;
    --main-active-color: #2196f3;
    --main-contrast-color: #ffffff;
    --text-color: #757575;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
    --dark-background-color: #2f303a;
    --team-background-color: #f5f4fa;
    --border-color: #ececec;
    --border-color-card: #eeeeee;
    --team-list-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --button-hero-shadow: rgba(0, 0, 0, 0.15);
    --button-portfolio-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    --portfolio-cards-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    --icon-color: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --product-card-overlay: rgba(33, 150, 243, 0.9);
    --border-modal-color: rgba(0, 0, 0, 0.1);
    --background-modal-color: rgba(0, 0, 0, 0.2);
    --border-modal-input-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --job-list-color: rgba(47, 48, 58, 0.8);

    --social-network-bgc: rgba(255, 255, 255, 0.1);
    --user-mail-input-border: rgba(255, 255, 255, 0.3);

}